body{
    background-color: rgb(241, 241, 145);
}

.main_heading{
    color: crimson;
    border: 5px outset #28c9ac;
    text-align: center;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab{
    cursor: pointer;
    padding: 10px;
}

.tab.active{
    background-color: #CCC;
}

.tab:hover{
    background-color: #AAA;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;
}

.selected_tab{
    color: blue;
}

.testimonials{
    text-align: center;
    border: #28c9ac inset;
}

.heading{
    color: blueviolet;
}

.login{
    border: #28c9ac inset;
    width: fit-content;
}